/* generics */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}

.web-app{
    display: flex;
    height: 100vh
}


/****** content *******/

/* aside */

aside{
    width: 260px;
    background-color: black;
    padding: 10px;
}

.xs-show{
    width: 20px;
    margin-left: 20px;
    padding-top: 20px;
    display: none;
}

.xs-hidden{
    width: 150px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    
}

.menu a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #a3a3a3;
}

.menu span{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 0.8rem;
}

#home-spotify{
    width: 20px;
    margin-left: 20px;
    margin-top: 8px;
    color: #a3a3a3;
}

#search-spotify{
    width: 20px;
    margin-top: 8px;
    margin-left: 20px;
    color: #a3a3a3;
}

#libreria-spotify{
    width: 20px;
    margin-left: 20px;
    color: #a3a3a3;
    margin-top: 8px;
}

h4{
    color: white;
    margin-top: 20px;
    margin-left: 20px;
}

.fa-square-plus{
    color: #a3a3a3;
    padding-top: 10px;
    font-size: 35px;
}

.playlist span{
    color: #a3a3a3;
    margin-top: 20px;
    padding-left: 10px;
}

.playlist a{
    text-decoration: none;
    color: #a3a3a3;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 0.8rem;
}

.profile{
    margin-top: 100px;
}

#profile-logo{
    width: 25px;
    height: 23px;
    background-color: #a3a3a3;
    border-radius: 24px;
    margin-left: 20px;
}

#download-logo{
    width: 33px;
    margin-left: 20px;
    color: #a3a3a3;
    margin-left: 15px;
}

.profile a{
    text-decoration: none;
    color: #a3a3a3;
    display: flex;
    flex-direction: row;
}

.profile span{
    font-size: 0.8rem;
    padding-left: 10px;
    padding-top: 7px;
}

hr{
    margin: 10px 10px 10px 10px;
    
}


/* main */

    /* header */

header{
    height: 100px;
    opacity: 80%;
    position: fixed;
    right: 0;
    top: 0;
    width: calc(100% - 260px);
    text-align: right;
    padding-top: 30px;
}

header a{
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px 20px;
    text-decoration: none;
    margin-right: 25px;
}

/* /header */

main{
    width: calc(100% - 260px);
    background-color: #141922;
    flex-grow: 1;
    padding-bottom: 100px;
    overflow-y: auto;
}

#album-container{
    overflow-y: auto;
    padding-top: 100px;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title a{
    text-align: center;
    text-decoration: none;
    color: #a3a3a3;
    font-size: 0.9rem;
    padding-right: 20px;
    margin-bottom: 20px;
}

.title :hover{
    text-decoration: underline 2px solid #adff2f;

}

.card{
    display: flex;
    flex-wrap: wrap;
   

}

.card-album img{
    width: 100%;
    
}

h3{
    color: white;
}

.card-album{
    width: calc(100% / 6);
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 0.9rem;
}
.card-album span{
    color: #a3a3a3;
}

h2{
    color: white;
    margin-bottom: 30px;
    margin-left: 20px;
    padding-top: 30px;
}

h5{
    color: #a3a3a3;
    padding-left: 20px;
    font-size: 1.0rem;
    padding-bottom: 20px;
}

/* /main */


/* footer */

footer{
    height: 100px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
}


footer img{
    width: 50px;
    margin-left: 20px;
    margin-top: 20px;
}

.icon-sx{
    color: white;
    width: 25%;
    margin-right: 100px;

}

.fa-heart, .fa-older {
    padding-right: 20px;
}

.fa-heart{
    padding-left: 20px;
    margin-top: 30px;
    color: white;
    font-size: 15px;
}

.icon-centre{
    margin-top: 15px;
    color: white;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.audio-buttons, .audio-state{
    display: flex;
    flex-direction: row;
}


.audio-state{
    margin-top: 20px;
}

#number-sx, #number-dx{
    padding: 5px 5px;
}

#sound-bar{
    background-color: grey;
    width: 50%;
    height: 4px;
    border-radius: 20px;
    margin-top: 15px;
}

.fa-shuffle, .fa-backward-step, .fa-circle-play, .fa-forward-step{
    padding-right: 20px;
}


.icon-dx{
    margin-top: 30px;
    color: white;
    font-size: 15px;
    width: 25%;
}

.fa-list, .fa-display, .fa-volume-high{
    padding-right: 20px;
}

#volume-bar{
    width: 20%;
    height: 4px;
    border-radius: 20px;
    background-color: grey;
    border: grey;
}

/* /footer */


/* media query */



@media screen and (max-width:878px) {
    .card-album{
        width: calc(100% / 4);
    }

    .title{
        flex-wrap: wrap;
    }

    header{
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 600px) {
    .card-album{
        width: calc(100% / 2);
    } 
}


@media screen and (max-width: 480px){

    .xs-hidden, .playlist, .profile, .menu span{
        display: none;
    }

    .xs-show{
        display: initial;
    }

    .card-album{
        width: calc(100% / 2);
    } 

    aside{
        width: 80px;
    }

    header a{
        padding: 5px;
    }

    
}